<ion-header>
  <ion-navbar>
    <ion-title>Notification Settings</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/ign.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Ignition Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
            margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.ign.email_status"
                      (ionChange)="tab('ign','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.ign.email_status"
                      (ionChange)="tab('ign','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.ign.sms_status"
                      (ionChange)="tab('ign','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.ign.sms_status"
                      (ionChange)="tab('ign','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.ign.notif_status"
                      (ionChange)="tab('ign','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.ign.priority!=3,'badge-success':notifArray.ign.priority==3,'disabled':!notifArray.ign.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('ign','priority',3)">High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.ign.priority!=2,'badge-success':notifArray.ign.priority==2,'disabled':!notifArray.ign.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('ign','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.ign.priority!=1,'badge-success':notifArray.ign.priority==1,'disabled':!notifArray.ign.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('ign','priority',1)">Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/poi.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'POI Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
              margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.poi.email_status"
                      (ionChange)="tab('poi','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.poi.email_status"
                      (ionChange)="tab('poi','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.poi.sms_status"
                      (ionChange)="tab('poi','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.poi.sms_status"
                      (ionChange)="tab('poi','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.poi.notif_status"
                      (ionChange)="tab('poi','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.poi.priority!=3,'badge-success':notifArray.poi.priority==3,'disabled':!notifArray.poi.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('poi','priority',3)">High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.poi.priority!=2,'badge-success':notifArray.poi.priority==2,'disabled':!notifArray.poi.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('poi','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.poi.priority!=1,'badge-success':notifArray.poi.priority==1,'disabled':!notifArray.poi.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('poi','priority',1)">Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/power.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Power Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.power.email_status"
                      (ionChange)="tab('power','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.power.email_status"
                      (ionChange)="tab('power','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.power.sms_status"
                      (ionChange)="tab('power','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.power.sms_status"
                      (ionChange)="tab('power','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.power.notif_status"
                      (ionChange)="tab('power','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.power.priority!=3,'badge-success':notifArray.power.priority==3,'disabled':!notifArray.power.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('power','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.power.priority!=2,'badge-success':notifArray.power.priority==2,'disabled':!notifArray.power.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('power','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.power.priority!=1,'badge-success':notifArray.power.priority==1,'disabled':!notifArray.power.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('power','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/fuel.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Fuel Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                  margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.fuel.email_status"
                      (ionChange)="tab('fuel','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.fuel.email_status"
                      (ionChange)="tab('fuel','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.fuel.sms_status"
                      (ionChange)="tab('fuel','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.fuel.sms_status"
                      (ionChange)="tab('fuel','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.fuel.notif_status"
                      (ionChange)="tab('fuel','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.fuel.priority!=3,'badge-success':notifArray.fuel.priority==3,'disabled':!notifArray.fuel.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('fuel','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.fuel.priority!=2,'badge-success':notifArray.fuel.priority==2,'disabled':!notifArray.fuel.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('fuel','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.fuel.priority!=1,'badge-success':notifArray.fuel.priority==1,'disabled':!notifArray.fuel.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('fuel','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/geo.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Geofence Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                    margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.geo.email_status"
                      (ionChange)="tab('geo','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.geo.email_status"
                      (ionChange)="tab('geo','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.geo.sms_status"
                      (ionChange)="tab('geo','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.geo.sms_status"
                      (ionChange)="tab('geo','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.geo.notif_status"
                      (ionChange)="tab('geo','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.geo.priority!=3,'badge-success':notifArray.geo.priority==3,'disabled':!notifArray.geo.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('geo','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.geo.priority!=2,'badge-success':notifArray.geo.priority==2,'disabled':!notifArray.geo.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('geo','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.geo.priority!=1,'badge-success':notifArray.geo.priority==1,'disabled':!notifArray.geo.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('geo','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/overspeed.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Overspeed Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                      margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.overspeed.email_status"
                      (ionChange)="tab('overspeed','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.overspeed.email_status"
                      (ionChange)="tab('overspeed','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.overspeed.sms_status"
                      (ionChange)="tab('overspeed','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.overspeed.sms_status"
                      (ionChange)="tab('overspeed','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.overspeed.notif_status"
                      (ionChange)="tab('overspeed','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.overspeed.priority!=3,'badge-success':notifArray.overspeed.priority==3,'disabled':!notifArray.overspeed.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer"
                    (click)="tab1('overspeed','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.overspeed.priority!=2,'badge-success':notifArray.overspeed.priority==2,'disabled':!notifArray.overspeed.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;"
                    (click)="tab1('overspeed','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.overspeed.priority!=1,'badge-success':notifArray.overspeed.priority==1,'disabled':!notifArray.overspeed.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;"
                    (click)="tab1('overspeed','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/route.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Route Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                        margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.route.email_status"
                      (ionChange)="tab('route','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.route.email_status"
                      (ionChange)="tab('route','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.route.sms_status"
                      (ionChange)="tab('route','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.route.sms_status"
                      (ionChange)="tab('route','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.route.notif_status"
                      (ionChange)="tab('route','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.route.priority!=3,'badge-success':notifArray.route.priority==3,'disabled':!notifArray.route.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('route','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.route.priority!=2,'badge-success':notifArray.route.priority==2,'disabled':!notifArray.route.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('route','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.route.priority!=1,'badge-success':notifArray.route.priority==1,'disabled':!notifArray.route.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('route','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/AC.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'AC Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                          margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.AC.email_status"
                      (ionChange)="tab('AC','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.AC.email_status"
                      (ionChange)="tab('AC','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.AC.sms_status"
                      (ionChange)="tab('AC','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.AC.sms_status"
                      (ionChange)="tab('AC','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.AC.notif_status"
                      (ionChange)="tab('AC','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.AC.priority!=3,'badge-success':notifArray.AC.priority==3,'disabled':!notifArray.AC.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('AC','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.AC.priority!=2,'badge-success':notifArray.AC.priority==2,'disabled':!notifArray.AC.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('AC','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.AC.priority!=1,'badge-success':notifArray.AC.priority==1,'disabled':!notifArray.AC.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('AC','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/maxstop.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'Max-Stoppage Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                            margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.maxstop.email_status"
                      (ionChange)="tab('maxstop','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.maxstop.email_status"
                      (ionChange)="tab('maxstop','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.maxstop.sms_status"
                      (ionChange)="tab('maxstop','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.maxstop.sms_status"
                      (ionChange)="tab('maxstop','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.maxstop.notif_status"
                      (ionChange)="tab('maxstop','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.maxstop.priority!=3,'badge-success':notifArray.maxstop.priority==3,'disabled':!notifArray.maxstop.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('maxstop','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.maxstop.priority!=2,'badge-success':notifArray.maxstop.priority==2,'disabled':!notifArray.maxstop.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;"
                    (click)="tab1('maxstop','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.maxstop.priority!=1,'badge-success':notifArray.maxstop.priority==1,'disabled':!notifArray.maxstop.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;"
                    (click)="tab1('maxstop','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-grid item-content>
          <ion-row>
            <ion-col col-2>
              <img src="assets/notificationIcon/sos.png" style="width: 30px; height: 30px;" />
            </ion-col>
            <ion-col col-8>
              <p style="padding: 6px 0px 0px 0px; color: #000;">{{'SOS Notification' | translate}}</p>
            </ion-col>
            <ion-col col-1 (click)="addEmail('ign')">
              <ion-icon name="mail"></ion-icon>
            </ion-col>
            <ion-col col-1 (click)="addPhone('ign')">
              <ion-icon name="call"></ion-icon>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col col-3 style="text-align: left;
                              margin: auto;">
              <p><b>Type</b></p>
            </ion-col>
            <ion-col col-9>
              <ion-row>
                <ion-col col-4>
                  <p style="margin: 0px;">Email
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">SMS
                  </p>
                </ion-col>
                <ion-col col-4>
                  <p style="margin: 0px;">Notif
                  </p>
                </ion-col>
              </ion-row>
              <ion-row style="margin-top: -10px;">
                <ion-col col-4>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.sos.email_status"
                      (ionChange)="tab('sos','email_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.sos.email_status"
                      (ionChange)="tab('sos','email_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="islogin.isSuperAdmin || islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.sos.sms_status"
                      (ionChange)="tab('sos','sms_status')">
                    </ion-checkbox>
                  </div>
                  <div style="padding: 0px 5px 0px 5px;" *ngIf="!islogin.isSuperAdmin && !islogin.isDealer">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.sos.sms_status"
                      (ionChange)="tab('sos','sms_status')" disabled="true">
                    </ion-checkbox>
                  </div>
                </ion-col>
                <ion-col col-4 text-center>
                  <div style="padding: 0px 5px 0px 5px;">
                    <ion-checkbox color="gpsc" [(ngModel)]="notifArray.sos.notif_status"
                      (ionChange)="tab('sos','notif_status')">
                    </ion-checkbox>
                  </div>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
          <ion-row style="margin-top: -10px;">
            <ion-col col-3>
              <p><b>Priority</b></p>
            </ion-col>
            <ion-col col-9 no-padding>
              <ion-row>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.sos.priority!=3,'badge-success':notifArray.sos.priority==3,'disabled':!notifArray.sos.notif_status}"
                    style="color: white;width: 65px;height: 20px;cursor:pointer" (click)="tab1('sos','priority',3)">
                    High
                  </ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.sos.priority!=2,'badge-success':notifArray.sos.priority==2,'disabled':!notifArray.sos.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('sos','priority',2)">
                    Medium</ion-badge>
                </ion-col>
                <ion-col col-4>
                  <ion-badge
                    [ngClass]="{'badge-secondary':notifArray.sos.priority!=1,'badge-success':notifArray.sos.priority==1,'disabled':!notifArray.sos.notif_status}"
                    style="cursor:pointer;color: white;width: 65px;height: 20px;" (click)="tab1('sos','priority',1)">
                    Low
                  </ion-badge>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>