<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ "POI List" | translate }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only clear (tap)="addPOI()">
        <ion-icon color="light" name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-card *ngFor="let list of allData._poiListData; let i=index">
    <ion-item>
      <ion-thumbnail item-start>
        <img class="loaction-image" [src]="list.staticImageUrl"/>
        <!-- <div id="{{ list.mapid }}" style="height: 100px; width: 100px;"></div> -->
      </ion-thumbnail>
      <h1>{{ list.poiname }}</h1>
      <p style="color: #687DCA">{{ "Radius:" | translate }} {{ list.radius }}</p>
      <p>
        <ion-icon name="pin"></ion-icon>
        &nbsp;&nbsp;
        <ion-col (onCreate)="start_address(list, i)" class="colSt2">
          <div class="overme">
            {{ list.addres }}
          </div>
        </ion-col>
      </p>
      <p>
        <button ion-button round small (click)="editPOI(list)">
          {{ "Edit" | translate }}
        </button>
        <button
          ion-button
          round
          small
          style="background: #fe8839; color: white"
          (click)="deletePOI(list)"
        >
        {{ "Delete" | translate }}
        </button>
      </p>
    </ion-item>
  </ion-card>
</ion-content>
